body {
  background-color: rgb(20, 20, 20);
  touch-action: none;
  overflow-x: hidden;
  background-attachment: fixed;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -ms-touch-action: none; 
  user-select: none;
  scrollbar-width: none; 
  font-family: Geologica;
  color: white;
  overflow-y: scroll;
}

.top1 {
  background-color: rgb(199, 199, 50);
  width: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -15px;
}

.top-2 {
  background-color: rgb(59, 59, 59);
  width: 20px;
  border-radius: 50%;
  text-align: center;
  margin-top: -25px;
  margin-left: 30px;
  position: absolute;
}

.top-3 {
  background-color: rgb(158, 83, 33);
  width: 20px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  float: right;
  margin-left: 30px;
  margin-top: -25px;
}

.icon {
  width: 40px;
  border-radius: 50px;
  float: left;
  margin-top: 10px;
  margin-left: 35px;
}

.icon-top {
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
}

.icon-top23 {
  width: 80px;
  border-radius: 50%;
  margin-top: 20px;
}

.top2 {
  float: left;
  margin-top: -160px;
  margin-left: 15px;
}

.top3 {
  float: right;
  margin-top: -160px;
  margin-right: 15px;
}

.nick {
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}

.nick-top {
  font-size: 18px;
  margin-top: 5px;
}

.nick-top23 {
  margin-left: 10px;
  margin-top: 5px;
}

.place {
  float: left;
  position: absolute;
  margin-left: 12px;
  margin-top: 20px;
}

.items {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.item-top23 {
  text-align: center;
  margin-right: 5px;
  margin-top: -10px;
}

.caps-top {
  width: 30px;
}

.banner {
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 135px;
  border-radius: 25px;
}

.profiles {
  background-color: rgb(25, 25, 25);
  width: 100%;
  height: 60px;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.bar {
  background-color: rgb(22, 22, 22);
  width: 85%;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.leaders {
  background-color: rgb(22, 22, 22);
  width: 33%;
  height: 65px;
  color: rgb(25, 122, 207);
  border: none;
  font-family: Geologica;
}

.market {
  background-color: rgb(22, 22, 22);
  width: 33%;
  height: 65px;
  color: white;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-family: Geologica;
}

.profile{
  background-color: rgb(22, 22, 22);
  width: 33%;
  height: 65px;
  color: white;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-family: Geologica;
}

.btn-container {
  margin-top: 3px;
  margin-left: 3px;
}

.gifts-container {
  border: none; 
  padding: 8px; 
  margin-left: 2vw;
  border-radius: 25px; 
  background: #222222; 
  width: 40vw
}

.gifts-wrapper {
  display: flex;
  flex-wrap: wrap; /* перенос элементов, если не помещаются в строке */
  gap: 2vw;
}

.title {
  font-size: 16px;
  margin-top: 5px;
  margin-left: 5px;
}

.number {
  font-size: 14px;
  color: #4b4b4b;
  margin-top: -15px;
  margin-left: 3px;
}

.buy-btn {
  width: 40vw;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: white;
  font-size: Geologica;
}

.view-btn {
  width: 20vw;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: white;
  font-size: Geologica;
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}

.tc {
  bottom: 0;
  position: absolute;
  
}

#preloader {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020; 
  z-index: 9999; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
  opacity: 1; 
}

#preloader.hidden {
  opacity: 0; 
  pointer-events: none; 
  transform: translateY(-100%);
}

#preloader.hidden {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%); 
    pointer-events: none;
  }
}

.loader,
.loader:after {
  overflow:hidden;
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(101,171,248, 0.2);
  border-right: 1.1em solid rgba(101,171,248, 0.2);
  border-bottom: 1.1em solid rgba(101,171,248, 0.2);
  border-left: 1.1em solid #3a7dc0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 500px) and (max-width: 10000px) {
body {
  background-color: #202020;
  display: none;
}
}
